.ModalBackground {
   background: rgba(32,35,41,.8);
   position: fixed;
   top: -10px;
   left: -10px;
   right: -10px;
   bottom: -10px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
 }